<div class="container">
    <div class="component" [ngStyle]="{
      'border-bottom-right-radius': '0px',
      'border-top-right-radius': '0px'
    }">
        <div class="subcontainer1">
            <div class="arrow" (click)="toggle()">
                <i class="fas fa-angle-right" [ngClass]="!isDropDownClicked ? 'arrow-icon' : 'arrow-icon-bottom'"></i>
            </div>
        </div>

        <div class="subcontainer2">
            <div *ngIf="!isDropDownClicked" class="options">
                {{ defaultTextForDropDown | titlecase }}
            </div>
            <ng-container *ngIf="isDropDownClicked">
                <div class="subcontainer2-div" [@listAnimation]="listOfOptions.length" (@listAnimation.start)="logAnimation($event)" (@listAnimation.done)="logAnimation($event)">
                    <div *ngFor="let options of listOfOptions" class="options">
                        {{ options | titlecase }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
